.list {
  list-style: none;
}
a {
  text-decoration: none;
}
:root {
  --color-general-: #212121;
  --color-second-: #2196f3;
  --color-h1-: #ffffff;
  --color-text-: #757575;
  --background-scond: #2f303a;
  --background-button-: #2196f3;
  --background-heder-: #ffffff;
  --background-general: #e5e5e5;
  --background-portf-button: #f5f4fa;
}
body {
  /* background-color: var(--background-general); */
  background-color: var(--background-heder-);
  color: var(--color-text-);
  font-family: Roboto, sans-serif;
}

/* скритий текст */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin-right: 200px;
  margin-left: 200px;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
  /* outline: 2px solid tomato;
  background-color: turquoise; */
}

/* стилізація шапки */
.header-style {
  background-color: var(--background-heder-);
}
.head {
  width: 1600 px;
  border-bottom: solid 1px #ececec;
}

.heder-navi {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.site-nav {
  display: flex;
  width: 294px;
  height: 16px;
  justify-content: space-between;
  padding-left: 0;
  margin: 0;
  /* padding-top: 32px;
  padding-bottom: 32px; */
}
.aut-navi-general {
  margin-left: 331px;
}
.aut-nav {
  display: flex;
  width: 307px;
  padding-left: 0;
  justify-content: space-between;
  /* flex-direction: row; */
}
.logo-general {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-second {
  color: #000000;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-three {
  color: var(--background-heder-);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
}

.site-nav .link {
  color: var(--color-general-);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding: 32px 0;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--color-second-);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.aut-nav .a-link {
  color: var(--color-text-);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.aut-nav .a-link:hover,
.aut-nav .a-link:focus {
  color: var(--color-second-);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

/* стилізація героя */
.heroe {
  padding: 200px 0;
  background-color: var(--background-scond);
  color: var(--color-h1-);
  max-width: 1600px;
}
.heroe-main {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
}

.button-styles {
  background-color: var(--color-second-);
  color: var(--color-h1-);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  padding: 10px 32px;
  border: none;
  margin: 0 auto;
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.button-styles:hover,
.button-styles:focus {
  background-color: #188ce8;
}
/* стилізвція майн */

.section {
  padding: 94px 0;
}

.section-mod {
  padding-bottom: 0;
}
.site-we .we-title {
  color: var(--color-general-);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.site-we {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.site-we .we-text {
  font-size: 14px;
  line-height: 1.71;
}

.we-item {
  width: 270px;
  padding-left: 0;
}
.we-item:not(:last-child) {
  margin-right: 30px;
}

.our-work {
  color: var(--color-general-);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
.foto-work {
  display: flex;
  padding-left: 0;
  margin: 0;
}
.foto-work .item:not(:last-child) {
  margin-right: 30px;
}

/* стилізація команди */
.comand {
  background-color: var(--background-portf-button);
  padding-top: 0;
}
.our-comand {
  color: var(--color-general-);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  padding-top: 94px;
  padding-bottom: 50px;
  text-align: center;
  margin: 0;
}

.about-we {
  width: 270px;
  padding-left: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.about-we .item:not(:last-child) {
  margin-right: 30px;
}
.item-general {
  background: var(--background-heder-);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.person-item {
  padding-top: 30px;
  padding-bottom: 30px;
}
.name {
  color: var(--color-general-);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
}
.position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin: 0;
}

/* стилізація футера */

.fotter-styles {
  background-color: var(--background-scond);
  padding-top: 60px;
  padding-bottom: 60px;
}

.fotter-adress {
  padding-top: 20px;
}
.adsress-styles {
  color: var(--color-h1-);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  padding-left: 0;
}

.contact {
  padding-left: 0;
  margin: 0;
}
.contact .cont-list {
  color: var(--color-text-);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  padding-top: 9px;
}
.cont-list:hover,
.cont-list:focus {
  color: var(--color-second-);
}

/* стилізація портфоліо */

.portf-main {
  background-color: var(--background-heder-);
}

.button-general {
  padding-top: 94px;
  padding-left: 295px;
}
.portf-button {
  display: flex;
  padding-left: 0;
  margin-right: 8px;
}

.button-list {
  background-color: var(--background-portf-button);
  color: var(--color-general-);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  padding: 6px 22px;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0ch;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.button-list:hover,
.button-list:focus {
  background-color: var(--background-button-);
  color: var(--background-heder-);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.project {
  margin-top: 34px;
  margin-bottom: 94px;
}
.portf-project {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.project-general {
  width: 369px;
  background-color: var(--background-heder-);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin-bottom: 30px;
  margin-right: 30px;
}
.project-general:nth-child(3n) {
  margin-right: 0px;
}
.project-general:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.product-general {
  padding: 20px 24px;
}
.project-title {
  color: var(--color-general-);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  margin-top: 0;
}
.product {
  font-size: 16px;
  line-height: 1.88;
  margin: 0;
}
